<div id="footer" class="container-fluid mt-auto">
  <div class="d-flex justify-content-center mt-2">
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-github-square"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
  </div>
  <div class="mt-2">
    <small>Copyright © Hack Academy 2022</small>
  </div>
</div>
