<nav class="navbar bg-black">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand bg-black" href="/"
      ><strong style="color: white">Hack the blog</strong></a
    >
    <div>
      <a type="button" class="btn btn-primary" href="<%=`${link}`%>"><%=loginBtn%></a>
      <a type="button" class="btn btn-primary" href="<%=`${linkB}`%>"><%=loginBtnB%></a>
    </div>
  </div>
</nav>
