<nav class="navbar bg-black">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand bg-black" href="/"
      ><strong style="color: white">Hack the blog</strong></a
    >
    <a type="button" class="btn btn-primary" href="/articulos">Admin</a>
  </div>
</nav>
