<nav class="navbar bg-black">
  <div class="container-fluid d-flex align-items-center justify-content-around">
    <a class="navbar-brand bg-black" href="#"
      ><strong style="color: white">Hack the blog</strong></a
    >
    <button type="button" class="btn btn-primary">Admin</button>
  </div>
</nav>
